body{
    text-align: center;
}
hr.dot {
    border: dotted #bb8a2f 5px;
    border-bottom: none;
    width: 5%;
    margin: 50px auto;
  }
.top{

    margin: 0% auto 0 auto;
    
}
.nav{
    margin: 0 auto 0 auto; 
    width: 100%;


    
}

.intro{
    /* background-color: aliceblue; */
    text-align: left;
    width: 50%;
    display:inline-block;
    

}
.login{
    width: 300px;
    height: 150px;
    background-color: aliceblue;
    margin: 50px auto ;
    padding: 30px;

    
}
.bottom{
    text-align: left;
}
.btn {
    
    border-radius: 15px;
    font-family: Georgia;
    /* color: #170317; */
    font-size: 19px;
    padding: 5px;
    /* background: #c97932; */
    text-decoration: none;

  } 
  
   .btn:hover {
    background: #b39660;
  } 
  .copy{
    font-size: 10px;
    margin: 30px;
  }
  
